/*
Common
************************************/

html,
body {
  height: 100%;
  font-family: "Avenir", sans-serif;
  padding: 0;
  margin: 0;
}

.content {
  width: 900px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #3290ed;
  border: 0;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px 25px;
}

h2 {
  font-size: 40px;
  padding: 15px 0;
}

@media screen and (max-width: 700px) {
  h2 {
    padding: 15px 0;
  }
}

/*
Header
************************************/

header nav {
  padding: 0 30px;
  background-color: #3b3838;
}

header nav .logo {
  width: 12rem;
  padding-right: 50px;
  margin-right: 12rem;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav li {
  padding-right: 6rem;
}

header nav .navbar-brand {
  margin-right: 0rem;
}

header nav .icon-search,
header nav .icon-cart {
  padding-left: 20px;
  width: 44px;
}

@media screen and (max-width: 1000px) {
  header nav .icon-search,
  header nav .icon-cart {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header nav .logo {
    padding-right: 0;
    margin-right: 0;
  }
  header nav .icon-search,
  header nav .icon-cart {
    display: none;
  }
  header nav {
    padding: 0 15px;
  }
  header nav li {
    padding-bottom: 10px;
  }
}

/*
Home
************************************/

.home .main {
  position: relative;
}

.home .main img {
  width: 100%;
}

.home .main .main-pc-img {
  display: block;
}

.home .main .main-sp-img {
  display: none;
}

.home .text-area {
  position: absolute;
  color: white;
  top: 130px;
  left: 50px;
  width: 40%;
}

.home .text-area .title {
  font-size: 80px;
  font-weight: bold;
}

.home .text-area .product-name {
  font-size: 56px;
}

.home .text-area .product-price {
  font-size: 50px;
}

.home .text-area .cta-area {
  display: flex;
  padding-top: 20px;
}

.home .text-area .cta-area a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.home .text-area .cta-area .learn-more {
  padding-left: 40px;
  padding-top: 10px;
}

.home .category {
  width: 90%;
  margin: 30px auto;
}

.home .category ul {
  padding: 20px 0;
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.home .category li {
  list-style: none;
  border-right: 1px solid #ccc;
  padding: 0 20px;
}

.home .category li:last-child {
  border-right: 0;
}

.home .category li img {
  width: 95%;
}

.home .product {
  width: 90%;
  margin: 70px auto;
  display: flex;
}

.home .product .text-area {
  position: relative;
  color: black;
  top: 0;
  left: 0;
  width: 50%;
}

.home .product .text-area .learn-more {
  color: rgb(16, 155, 248);
}

.home .product img {
  width: 50%;
}

.home .product img.pc {
  display: block;
}

.home .product img.sp {
  display: none;
}

@media screen and (max-width: 1000px) {
  .home .text-area .title {
    font-size: 60px;
    font-weight: bold;
  }

  .home .text-area .product-name {
    font-size: 45px;
  }

  .home .text-area .product-price {
    font-size: 30px;
  }

  .home .text-area .cta-area a {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .home .main .main-pc-img {
    display: none;
  }

  .home .main .main-sp-img {
    display: block;
  }
  .home .text-area {
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .home .text-area .title {
    font-size: 50px;
    font-weight: bold;
  }

  .home .text-area .product-name {
    font-size: 35px;
  }

  .home .text-area .product-price {
    font-size: 30px;
  }

  .home .text-area .cta-area a {
    font-size: 15px;
  }

  .home .text-area .cta-area {
    display: flex;
    justify-content: center;
  }

  .home .category li {
    padding: 0 5px;
  }

  .home .category ul {
    padding: 0 0 20px 0;
  }

  .home .product {
    display: block;
  }

  .home .product .text-area {
    width: 100%;
  }

  .home .product img {
    width: 100%;
  }

  .home .product img.pc {
    display: none;
  }

  .home .product img.sp {
    display: block;
  }
}

/* Product details */
@media screen and (max-width: 500px) {
  .product-details {
    width: 100%;
  }
  #details-label {
    margin: auto;
    text-align: center;
    padding-top: 1rem;
  }
  #details-description-text {
    width: 100%;
  }
  .product-image-div {
    width: 100%;
  }
  #details-image {
    width: 100%;
    margin: 0 5px 0 5px;
  }
  #details-box {
    margin-left: 0;
    width: 100%;
  }
  #details-name-1 {
    display: block;
    text-align: center;
  }
  #details-name-2 {
    display: none;
  }
  #details-desc {
    margin-left: 0;
    padding: 1rem;
  }
  #details-description-text {
    margin-left: 0;
    padding: 1rem;
  }
  header {
    width: 100%;
  }
  #break,
  #break2 {
    margin-left: 0;
    width: 100%;
  }
}

.product-details .details-label {
  margin: 5rem 0 0 10rem;
}
.product-details .product-image-div {
  display: inline-block;
}
.details-image {
  width: 30rem;
  margin-left: 20rem;
  display: inline-block;
}

.product-details .details-name {
  font-size: x-large;
  margin-left: 10rem;
  display: flex;
}

.product-details .details-name-1 {
  display: none;
}

.product-details .details-box {
  display: inline-block;
  margin-left: 15rem;
  background-color: #efecec;
  padding: 1rem;
  width: 20rem;
  font-size: large;
}

.product-details .product-price {
  margin-bottom: 0.8rem;
}

.product-details .product-status {
  margin-bottom: 0.8rem;
}
.product-details hr {
  width: 50rem;
  margin-left: 10rem;
}
.product-details .form-control {
  width: 4rem;
}
.product-details .custom-select {
  background-color: #fae706;
}

#add-cart-btn {
  width: 100%;
}
.product-details .details-desc {
  margin-left: 10rem;
  width: 100%;
}
/*
form
************************************/

.form {
  width: 80%;
  margin: 70px auto;
}

.form label {
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 20px;
}

.form input {
  background-color: #f5f5f5;
}

.form button {
  margin: 30px 0;
}

.form a {
  color: rgb(16, 155, 248);
  text-decoration: none;
}

/*
Product List 
************************************/

.product-list {
  padding: 5%;
}

.product-list .content {
  display: flex;
  margin: unset;
  width: unset;
}

.product-list .sidebar {
  border-right: 0.2px solid #232a3d;
  width: 25%;
  margin: 0;
}

.product-list .sidebar ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 0;
}

.product-list .sidebar li {
  border-bottom: 0.1px solid #232a3d;
  width: 90%;
  margin: auto 0;
  padding: 12px;
  font-size: 20px;
}

.product-list .sidebar li a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}

.product-list .sidebar li a:hover {
  font-weight: bold;
}

.product-list .sidebar li a.active {
  font-weight: bold;
}

.product-list .sidebar li a img {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 20px;
}

.product-list .sidebar li a.active img {
  transform: rotate(-90deg);
}

.product-list .main {
  width: 75%;
  margin-left: 1%;
}

.product-list .main ul {
  padding: 3px;
}

.product-list .main ul::after {
  clear: both;
  content: "";
  display: table;
}

.product-list .main li {
  float: left;
  list-style: none;
  width: 30%;
  margin: 10px;
  background-color: #eaeaea;
  text-align: center;
  border-radius: 3%;
  padding: 30px 0px;
}

.product-list .main li:hover {
  font-weight: bold;
}

.product-list .main li img {
  width: 70%;
  margin: 10px auto;
}

.product-list .main p {
  position: relative;
  margin: 0;
  left: 20%;
  top: 60%;
  width: 80%;
}

.product-list .main li .product-name {
  font-size: 20px;
}

.product-list .main li .product-price {
  font-size: 22px;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .product-list .content {
    display: block;
  }
  .product-list .content .sidebar {
    width: 100%;
    border: 0;
  }
  .product-list .content .main {
    width: 100%;
  }
  .product-list .content .main li {
    width: 92%;
  }
}

/*
Footer
************************************/

footer {
  background-color: #292828;
  color: #f7f0f0;
  width: 100%;
}

footer .menu {
  padding: 30px;
  display: flex;
}

footer .menu-list {
  padding: 20px;
}

footer .menu-list .sub-title {
  font-size: 30px;
}

footer .menu-list ul {
  padding-top: 20px;
  padding-left: 10px;
}

footer .menu-list li {
  font-size: 12px;
  list-style: none;
  padding: 8px 0;
}

footer .menu-list li a {
  color: #f7f0f0;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  footer .menu-list .sub-title {
    font-size: 22px;
  }
}

/*
Pagination
************************************/

.pagination {
  display: flex;
  padding: 1rem 0.5rem;
  width: fit-content;
  border-radius: 0.25rem;
  margin: 0 auto;
}

.pagination .crumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}
.pagination .crumb {
  background: #fff;
  display: block;
  padding: 0.7rem 1rem;
  text-decoration: none;
  color: currentColor;
  border-radius: 0.2rem;
  border: 0.0625rem solid #d7d7d7; /* 1px */
}

.pagination .crumb:hover,
.crumb__active {
  background-color: #000000;
  color: #fdfdfd;
  border-color: #363636;
}

.pagination .crumb__prev {
  margin-right: 0.5rem;
  cursor: w-resize;
}

.pagination .crumb__next {
  margin-left: 0.5rem;
  cursor: e-resize;
}

@media screen and (max-width: 700px) {
  .pagination .crumb {
    padding: 0.7rem 0.9rem;
  }
}

/*
Cart List 
************************************/

.cart-list {
  width: 70%;
  margin: 3rem auto;
}

.cart-list .content {
  display: flex;
  justify-content: space-between;
  margin: unset;
  width: unset;
}

.cart-list .content .product-list {
  width: 70%;
  margin: 0 0 1rem 0;
  padding: 1.4rem 1rem;
  background-color: #efecec;
}

.cart-list .content .product-list .price {
  font-size: 25px;
  font-family: inherit;
}

.cart-list .product-list .product-info .name {
  padding-bottom: 6rem;
}

.cart-list .product-list label {
  font-size: 23px;
  line-height: 40px;
  background-color: #fae706;
  padding-right: 20px;
  padding-left: 10px;
}

.cart-list select {
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  border: none;
  background-color: #fae706;
  margin-right: 25px;
}

.bottom .quantity-trash img {
  width: 100%;
  height: auto;
}

.cart-list .content .product-list .product {
  display: flex;
  margin: 10px 0;
}

.cart-list .content .product-list .product .product-image {
  width: 30%;
}
.cart-list .content .product-list .product .product-image img {
  width: 100%;
}
.cart-list .content .product-list .product .product-info {
  width: 70%;
  /* parent element */
  position: relative;
}
.cart-list .content .product-list .product .product-info .name {
  font-size: 25px;
  padding-top: 10px;
}

.cart-list .content .product-list .product .product-info .bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 30px;
}

.cart-list .content .product-list .product .product-info .quantity-trash {
  display: flex;
}

.cart-list .content .product-list .product .product-info .quantity-trash .quantity {
  padding-right: 10px;
}

.cart-list .content .product-list .product .product-info .quantity-trash .trash {
  padding-left: 10px;
  border-left: 1px solid #464444;
}

.cart-list .content .product-list .product .product-info .quantity-trash .trash img {
  width: 100%;
  height: auto;
}

.cart-list .content .checkout-area {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
  margin: 0 20px;
  padding: 3rem 3rem;
  height: min-content;
  background-color: #efecec;
}

.checkout-area .cartinfo-total .heading {
  position: relative;
  font-size: 25px;
  font-weight: normal;
}

.checkout-area .cartinfo-total .itemandprice .total-value {
  font-size: 30px;
}

.checkout-area .cartinfo-total .itemandprice {
  display: flex;
  justify-content: space-between;
}

.checkout-area .itemandprice .items {
  padding-right: 50px;
  font-size: 20px;
  font-weight: normal;
}

.checkout-area .button-name {
  font-size: 15px;
  padding-top: 15px;
  font-family: "Avenir";
  background-color: #3290ed;
  color: #fff;
  padding: 10px 25px;
  border-radius: 4%;
  border: 2px solid #95cfff77;
}

@media screen and (max-width: 700px) {
  .cart-list .content .product-list .product .product-info .name {
    font-size: 20px;
  }
  .cart-list .content .product-list .price {
    font-size: 20px;
  }
  .cart-list .content .product-list .product .product-info .bottom {
    display: block;
  }
  .cart-list {
    width: 90%;
    margin: 3rem auto;
  }
  .cart-list .content {
    display: block;
  }
  .cart-list .content .product-list {
    width: 100%;
    margin: 0 auto;
  }
  .cart-list .content .checkout-area {
    width: 100%;
    margin: 0 auto;
  }
}

/*************************
* WishList
**************************/

.wishlist {
  padding: 5%;
}

.wishlist .Card ul li .like {
  position: absolute;
}

.wishlist .Card ul li .like img {
  width: 50px;
}

.wishlist .Card ul li .like:hover {
  cursor: pointer;
  width: 10%;
}

.wishlist .fav-header {
  display: flex;
  justify-content: space-between;
}

.wishlist .favorites {
  padding: 4%;
}

.wishlist .edit-button {
  float: right;
  height: 2rem;
  width: 4rem;
  margin: 4%;
}

.wishlist .Card ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3% 3%;
}
.wishlist .Card ul li {
  padding: 3%;
  margin: 3%;
  background-color: rgb(230, 230, 230);
  border-radius: 5%;
}
.wishlist .Card ul li img {
  width: 20rem;
  padding: 1%;
  margin: 3%;
}

@media screen and (max-width: 700px) {
  .wishlist .Card ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
